@charset "UTF-8";

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-ExtraBold";
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy-Medium";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Gilroy-Medium";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #313131;
  overflow: scroll;
}

.lock body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
  background-color: #49ad09;
  color: #fff;
  border-radius: 5px;
}

.button._fw {
  width: 100%;
}

[data-fullscreen] {
  height: 100vh;
}

.touch [data-fullscreen] {
  height: calc(var(--vh, 1vh) * 100);
}

[class*=__image-ibg] {
  position: relative;
}

[class*=__image-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4f1f1b1;
  z-index: 5;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.header__circle {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gilroy-Bold";
  font-size: 1.125rem;
  line-height: 1.1666666667;
}

.header__logo {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  border: 1px solid #074d94;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 2px;
}

.header__logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-header__body {
  display: none;
  left: 120%;
}

.menu-header__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  margin: 0rem 1.25rem 0rem 0rem;
}

.menu-header__item {
  position: relative;
}

.menu-header__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #49ad09;
  scale: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-header__sel {
  position: relative;
  padding: 2px;
}

.menu-header__sel::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  left: 0;
  -webkit-transition: scale 0.3s ease 0s;
  -o-transition: scale 0.3s ease 0s;
  transition: scale 0.3s ease 0s;
  border: 0px solid #49ad09;
  border-radius: 3px;
  scale: 0;
}

.menu-header__language {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
  z-index: 5;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  padding: 3px;
}

.menu-header__language:focus {
  outline: none;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #f2f2f2;
}

.footer__container {
  padding: 1.25rem 0rem 1.875rem 0rem;
  font-family: "Gilroy-Bold";
  font-size: 1.125rem;
  line-height: 1.1666666667;
}

.footer__info {
  text-align: center;
}

.page-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f2f2;
  padding-top: 4.375rem;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main__title {
  text-align: center;
  font-family: "Iinter";
  font-weight: 800;
  line-height: 1.0256410256;
}

.main__title:not(:last-child) {
  margin-bottom: 0.4487179487em;
}

.portfolio__title {
  text-align: center;
  font-family: "Gilroy-Medium";
  line-height: 1.1777777778;
}

.portfolio__title:not(:last-child) {
  margin-bottom: 1.7777777778em;
}

.body-portfolio {
  margin-top: 1.25rem;
  position: relative;
}

.body-portfolio__category {
  position: absolute;
  z-index: 1;
  top: -2.375rem;
  right: -0.1875rem;
  padding: 0.625rem 0.625rem 0.625rem 1.25rem;
  background-color: #fff;
  border-radius: 4.375rem 0.625rem 0 0;
  border: 0.1875rem solid #d6dfd6;
  border-bottom: none;
}

.body-portfolio__item {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 25rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-portfolio__card {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 0.9375rem 0 0.9375rem 0;
  border: 0.1875rem solid #d6dfd6;
}

.body-portfolio__title {
  font-family: "Gilroy-Medium";
  font-size: 1.75rem;
  line-height: 1.1785714286;
  padding: 0.625rem 0rem 0.625rem 0.625rem;
}

.body-portfolio__image-ibg {
  display: block;
  padding-bottom: 75%;
  border-top: 0.1875rem solid #c0d8c0;
  border-bottom: 0.1875rem solid #c0d8c0;
}

.body-portfolio__info {
  padding: 0.9375rem;
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.contact {
  padding-bottom: 1.875rem;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.contact__info {
  margin: 0 auto;
  padding: 1.25rem;
}

.contact__title {
  font-size: 1.25rem;
  line-height: 1.3;
}

.contact__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.contact__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.contact__number {
  min-width: 8.125rem;
  position: relative;
}

.contact__number::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  -webkit-transition: scale 0.3s ease 0s;
  -o-transition: scale 0.3s ease 0s;
  transition: scale 0.3s ease 0s;
  background-color: #49ad09;
  scale: 0;
}

.contact__image-ibg {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}

.contact__image-ibg::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: -14%;
  left: -12%;
  border-radius: 50%;
  -webkit-transition: scale 0.3s ease 0s;
  -o-transition: scale 0.3s ease 0s;
  transition: scale 0.3s ease 0s;
  border: 0px solid #49ad09;
  scale: 0;
}

.form {
  padding: 1.25rem;
  background-color: #f2f2f2;
  border: 0.1875rem solid #d6dfd6;
  border-radius: 0.3125rem;
}

.form__item {
  margin-bottom: 0.9375rem;
}

.form__lable {
  display: block;
  margin-bottom: 0.625rem;
}

.form__title {
  margin-bottom: 1.25rem;
  font-size: 1.375rem;
  font-weight: 600;
}

.form__input {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #d6dfd6;
  padding: 0.625rem;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.form__message {
  width: 100%;
  min-height: 7.5rem;
  resize: vertical;
  border: 0.0625rem solid #d6dfd6;
  border-radius: 0.3125rem;
  margin-bottom: 1.25rem;
  margin-top: 0.3125rem;
  padding: 0.3125rem 0.625rem;
}

.form__button {
  background-color: #49ad09;
  padding: 0.625rem 1.875rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.125rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.form__button:hover {
  background-color: #3b8e08;
}

#buttonLable {
  color: red;
}

.page {
  min-width: 0;
}

@media (min-width: 85em) {
  .page-main {
    padding-bottom: 4.375rem;
  }

  .main__title {
    font-size: 4.875rem;
  }

  .portfolio {
    padding-top: 1.875rem;
  }

  .portfolio {
    padding-bottom: 1.875rem;
  }

  .portfolio__title {
    font-size: 2.8125rem;
  }

  .body-portfolio__item {
    gap: 3.125rem;
  }
}

@media (max-width: 20em) {
  .page-main {
    padding-bottom: 2.1875rem;
  }

  .main__title {
    font-size: 2.125rem;
  }

  .portfolio {
    padding-top: 0.9375rem;
  }

  .portfolio {
    padding-bottom: 0.9375rem;
  }

  .portfolio__title {
    font-size: 1.75rem;
  }

  .body-portfolio__item {
    gap: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .body-portfolio__item {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 30rem));
  }

  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .menu-header__body {
    display: block;
    background-color: #f2f2f2;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
    position: fixed;
    top: 3.75rem;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
    padding: 0.625rem 3.125rem;
  }

  .menu-open .menu-header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
  }

  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .icon-menu {
    display: block;
    position: relative;
    margin: 0rem 0.625rem 0rem 0rem;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #313131;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .contact__icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 37.5rem) {
  .footer__container {
    padding: 0.625rem 0rem 0.9375rem 0rem;
  }
}

@media (max-width: 29.99875em) {
  .main__container {
    margin: 0;
  }

  .portfolio__container {
    padding: 0rem 0.3125rem;
  }

  .portfolio__title:not(:last-child) {
    margin-bottom: 0.8888888889em;
  }

  .body-portfolio__item {
    gap: 1.5625rem;
  }

  .contact__info {
    padding: 0.625rem;
  }

  .form {
    max-width: 18.75rem;
    padding: 0.625rem;
  }

  .form__input {
    max-width: 16.875rem;
    height: 1.875rem;
  }
}

@media (min-width: 20em) and (max-width: 85em) {
  .page-main {
    padding-bottom: calc(2.1875rem + 2.1875 * (((100vw - 20rem)) / ((65))));
  }

  .main__title {
    font-size: calc(2.125rem + 2.75 * (((100vw - 20rem)) / ((65))));
  }

  .portfolio {
    padding-top: calc(0.9375rem + 0.9375 * (((100vw - 20rem)) / ((65))));
  }

  .portfolio {
    padding-bottom: calc(0.9375rem + 0.9375 * (((100vw - 20rem)) / ((65))));
  }

  .portfolio__title {
    font-size: calc(1.75rem + 1.0625 * (((100vw - 20rem)) / ((65))));
  }

  .body-portfolio__item {
    gap: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((65))));
  }
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #3c8f09;
  }

  .menu-header__item:hover:before {
    scale: 1;
  }

  .menu-header__sel:hover::before {
    scale: 1;
    border: 2px solid #49ad09;
  }

  .body-portfolio__card:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
  }

  .contact__number:hover::before {
    scale: 1;
  }

  .contact__image-ibg:hover::before {
    scale: 1;
    border: 2px solid #49ad09;
  }
}